absl-py==2.2.0
accelerate==1.3.0
aiohappyeyeballs==2.4.3
aiohttp==3.10.10
aiosignal==1.3.1
alembic==1.15.1
annotated-types==0.7.0
anyio==3.7.1
astunparse==1.6.3
attrs==24.2.0
azure-ai-ml==1.21.0
azure-ai-textanalytics==5.3.0
azure-cognitiveservices-vision-computervision==0.9.0
azure-common==1.1.28
azure-core==1.31.0
azure-identity==1.19.0
azure-mgmt-core==1.4.0
azure-storage-blob==12.23.1
azure-storage-file-datalake==12.17.0
azure-storage-file-share==12.19.0
beautifulsoup4==4.12.3
bitsandbytes==0.45.1
blinker==1.8.2
cachetools==5.5.0
certifi==2024.8.30
cffi==1.17.1
chardet==3.0.4
charset-normalizer==3.4.0
click==8.1.7
colorama==0.4.6
comtypes==1.4.7
contourpy==1.3.1
cryptography==43.0.1
cycler==0.12.1
dataclasses-json==0.6.7
datasets==3.2.0
decorator==4.4.2
Deprecated==1.2.14
dill==0.3.8
dirtyjson==1.0.8
distro==1.9.0
eval_type_backport==0.2.0
fastapi==0.115.11
filelock==3.16.1
Flask==3.0.3
flask-cors==5.0.1
Flask-Mail==0.9.1
Flask-Migrate==4.1.0
Flask-SQLAlchemy==3.1.1
flatbuffers==25.2.10
fonttools==4.56.0
frozenlist==1.4.1
fsspec==2024.9.0
gast==0.6.0
gensim==4.3.3
google-api-core==2.21.0
google-auth==2.35.0
google-pasta==0.2.0
googleapis-common-protos==1.65.0
googletrans==4.0.0rc1
graphviz==0.20.3
greenlet==3.1.1
grpcio==1.71.0
gunicorn==23.0.0
h11==0.12.0
h2==3.2.0
h5py==3.13.0
hpack==3.0.0
hstspreload==2024.10.1
httpcore==0.15.0
httpx>=0.13.3,<0.24.0
huggingface-hub==0.27.1
hyperframe==5.2.0
idna==2.10
imageio==2.36.0
imageio-ffmpeg==0.5.1
isodate==0.7.2
itsdangerous==2.2.0
Jinja2==3.1.4
jiter==0.6.1
joblib==1.4.2
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
keras==3.9.0
kiwisolver==1.4.8
langdetect==1.0.9
libclang==18.1.1
llama-cli==1.0.18
llama-cloud==0.1.2
llama-index==0.11.18
llama-index-agent-openai==0.3.4
llama-index-cli==0.3.1
llama-index-core==0.11.18
llama-index-embeddings-openai==0.2.5
llama-index-indices-managed-llama-cloud==0.4.0
llama-index-legacy==0.9.48.post3
llama-index-llms-openai==0.2.15
llama-index-multi-modal-llms-openai==0.2.2
llama-index-program-openai==0.2.0
llama-index-question-gen-openai==0.2.0
llama-index-readers-file==0.2.2
llama-index-readers-llama-parse==0.3.0
llama-parse==0.5.10
Mako==1.3.9
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==3.0.1
marshmallow==3.23.0
matplotlib==3.10.0
mdurl==0.1.2
ml_dtypes==0.5.1
moviepy==1.0.3
mpmath==1.3.0
msal==1.31.0
msal-extensions==1.2.0
msrest==0.7.1
multidict==6.1.0
multiprocess==0.70.16
mypy-extensions==1.0.0
mysql-connector-python==9.2.0
namex==0.0.8
nest-asyncio==1.6.0
networkx==3.4.1
nltk==3.9.1
numpy==1.24.3
oauthlib==3.2.2
openai==1.51.2
opencensus==0.11.4
opencensus-context==0.1.3
opencensus-ext-azure==1.1.13
opencensus-ext-logging==0.1.1
opt_einsum==3.4.0
optree==0.14.1
packaging==24.1
pandas==2.2.3
peft==0.14.0
pillow==10.4.0
portalocker==2.10.1
proglog==0.1.10
propcache==0.2.0
proto-plus==1.24.0
protobuf==5.28.2
psutil==6.0.0
pyarrow==17.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.1
pycparser==2.22
pydantic==2.9.2
pydantic_core==2.23.4
pydash==8.0.3
pygame==2.6.1
Pygments==2.18.0
PyJWT==2.9.0
pyparsing==3.2.1
pypdf==4.3.1
PyPDF2==3.0.1
pypiwin32==223
python-dateutil==2.9.0.post0
pyttsx3==2.98
pytz==2024.2
PyYAML==6.0.2
referencing==0.35.1
regex==2024.9.11
requests==2.32.3
requests-oauthlib==1.3.1
rfc3986==1.5.0
rich==13.9.2
rpds-py==0.20.0
rsa==4.9
safetensors==0.5.2
scikit-learn==1.5.2
scipy==1.10.1
sentence-transformers==3.4.1
sentencepiece==0.2.0
setuptools>=58.0.4
shellingham==1.5.4
six==1.16.0
smart-open==7.0.5
sniffio==1.3.1
soupsieve==2.6
SQLAlchemy==2.0.36
starlette==0.46.1
strictyaml==1.7.3
striprtf==0.0.26
sympy==1.13.1
tabulate==0.9.0
tenacity==8.5.0
tensorboard==2.19.0
tensorboard-data-server==0.7.2
tensorflow==2.19.0
termcolor==2.5.0
threadpoolctl==3.5.0
tiktoken==0.8.0
together==1.3.2
tokenizers==0.21.0
torch==2.4.1
torch-directml==0.2.5.dev240914
torchvision==0.19.1
tqdm==4.66.5
transformers==4.50.0
tweepy==4.14.0
typer==0.12.5
typing-inspect==0.9.0
typing_extensions==4.12.2
tzdata==2024.2
urllib3==2.2.3
uvicorn==0.34.0
waitress==3.0.2
Werkzeug==3.0.4
wheel==0.45.1
wrapt==1.16.0
xxhash==3.5.0
yarl==1.15.4
